<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>koforeach</Title>
    <Author>LIU</Author>
    <Shortcut>koforeach</Shortcut>
    <Description>html中添加ko foreach代码</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
        <Code Language="html">
      <![CDATA[	  
		<!--ko foreach: $end$-->
		
		<!--/ko-->
	  ]]></Code>
  </Snippet>
</CodeSnippet>
